<div id = "wrap">
	{{partial "header"}}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span10 offset1 text-center">
				<h4>List of all fridges</h4> 
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10 offset1 well">
				<table class="table table-hover table-striped table-condensed">
				<thead>
					<th class="muted span4">Name</th>
					<th class="muted span3">Description</th>
					<th class="muted span2">Post number</th>
					<th class="muted span3">Last update</th>
					</thead>
					<tbody>
					   {{#each fridge in controller itemController="index"}}
					    <tr>
						  <td><b>{{#link-to 'fridge' name}}{{name}}{{/link-to}}</b></td>
						  <td>{{description}}</td>
						  <td>{{postNumber}}</td>
						  <td>NA</td>
					    </tr>
					   {{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<div id = "push"></div>
	</div>
</div>
{{partial "footer"}}