<div class="container-fluid">
	<hr>
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="row-fluid">
				<div class="span5"></div>
				<div class="span2">  
					<a {{action "toTrends"}} class="pull-right"><i class="icon-rocket"></i> Trends</a>
				</div>
				<div class="span2">  
					<a {{action "toFridges"}} class="pull-right"><i class="icon-road"></i> Explore</a>
				</div>
				<div class="span3">
					<p class="muted pull-right" >
					Already <b>{{view.content.nbFridges}}</b> fridges and <b>{{view.content.nbPosts}}</b> posts!</p>
				</div>		
			</div>
		</div>	
	</div>	
	<div class="row-fluid">		
		<div class="span10 offset1 well">
			<div class="row-fluid">
				<div class="span12 text-center">
					<h1>Post on my fridge</h1>
  					<h4 class="muted">
  						Solving the last problem Humanity is facing, i.e. sharing sticky notes on virtual fridges!
  					</h4>
  					</br>
					<div class="span12">
						<form class="form-inline">
							<button class="btn btn-primary" {{action "toDemo"}} type="button" >
								<i class="icon-white icon-signin"></i> Try the demo
							</button>
							&nbsp/&nbsp
							<div class="input-append">
                    			{{view Ember.TextField valueBinding="App.IndexView.newFridgeName" placeholder="Create your fridge" class="input-medium" id="newFridgeValue"}}                				
                				<button class="btn" id="button-newfridge" {{action "toNewFridge" App.IndexView.newFridgeName}}>
    								<i class="icon-ok-circle"></i> 
    								{{App.IndexView.newFrigeName}}
    							</button>
    		    			</div>
						</form>		  	      
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span10 offset1">
					<div class="thumbnail">
						<img src="../../images/demo.jpeg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="span6 well">
				<h3>Share <i class="icon-share"></i></h3>
				<p>
					You can share content on a fridge in real time with your friends while chatting.
				</p>
			</div>
			<div class="span6 well">
				<h3>Multimedia <i class="icon-film"></i></h3>
				<p>
					To share a video (youtube/vimeo/dailymotion) or a picture, just insert the url in the content.
				</p>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="alert">
			 	<h4>Warning <i class="icon-warning-sign"></i></h4>
			 	The application is still under heavy development, the data are likely to be lost, have fun!
			</div>
		</div>
	</div>
    <hr>
    <div class="row-fluid">
		<div class="span10 offset1">
			<div class="span2">  
				<a href="http://about.arnaud-gourlay.info/" target="blank">
				<i class="icon-envelope"></i> Contact</a>
			</div>
			<div class="span2">  
				<a {{action "toFeedback"}}>
				<i class="icon-bug"></i> Feedback</a>
			</div>
			<div class="span2">  
				<a href="https://github.com/agourlay/post-on-my-fridge" target="blank">
				<i class="icon-github"></i> Code</a>
			</div>
			<div class="span2">  
				<a href="/stats.html" target="blank">
				<i class="icon-dashboard"></i> Stats</a>
			</div>
			<div class="span3">
				<p class="muted pull-right">© 2013 Pomf. All rights reserved</p>
			</div>
		</div>
	</div>
</div>
