<div id = "wrap">
	{{partial "mainHeader"}}
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h4>Create your fridge</h4> 
				<form class="form">
					<div class="form-inline">
            			{{view "lazyTextField" valueBinding="newName" placeholder="fridge name"}}
        				<button class="btn btn-primary btn-sm" {{action "createFridge"}}>
							<i class="fa fa-check-circle-o"></i>
						</button>
	    			</div>
				</form>
				<hr>		
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h4>Search for a fridge</h4> 	
				<input class="typeahead" type="text" placeholder="Search for fridges"/>
				<hr>
				<h4>List of all fridges</h4> 	
			</div>
		</div>
		{{partial "fridges/pagination"}}
		<div class="row">
			<div class="col-md-6 col-md-offset-3 well">
				<table class="table table-hover table-striped table-condensed">
					<thead>
						<th>Name</th>
						<th>Posts</th>
						<th>Last update</th>
					</thead>
					<tbody>
					    {{#each f in controller}}
						    <tr>
							    <td><b>{{#link-to 'fridge' f.id}}{{f.name}}{{/link-to}}</b></td>
							    <td>{{f.postNumber}}</td>
							    <td>{{f.relativeLastUpdate}}</td>
						    </tr>
					    {{/each}}
					</tbody>
				</table>
			</div>
		</div>
		{{partial "fridges/pagination"}}
		<div id ="push"></div>
	</div>
</div>
{{partial "footer"}}