<div id = "wrap">
	{{render "mainHeader" null}}
	<div id="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h4>Create your fridge</h4> 
						<form class="form">
							<div class="form-inline">
	                			{{view App.LazyTextField valueBinding="App.FridgesView.newName" placeholder="fridge name" }}
	            				<button class="btn btn-primary btn-sm" {{action "createFridge" App.FridgesView.newName}}>
									<i class="fa fa-check-circle-o"></i>
								</button>
			    			</div>
						</form>		
					<h4>List of all fridges</h4> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 well">
					<table class="table table-hover table-striped table-condensed">
						<thead>
							<th class="col-md-4">Name</th>
							<th class="col-md-2">Post number</th>
							<th class="col-md-3">Creation Date</th>
							<th class="col-md-3">Last update</th>
						</thead>
						<tbody>
						    {{#each controller}}
							    <tr>
								    <td><b>{{#link-to 'fridge' id}}{{name}}{{/link-to}}</b></td>
								    <td>{{postNumber}}</td>
								    <td>{{prettyCreationDate}}</td>
								    <td>{{relativeLastUpdate}}</td>
							    </tr>
						    {{/each}}
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<ul class="pager">
						  <li><a {{action previousPage}}>Previous</a></li>
						  <li><a {{action nextPage}}>Next</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id ="push"></div>
		</div>
	</div>
</div>
{{partial "footer"}}