<div id = "wrap">
	{{render "mainHeader" null}}
	<div class="container">
		<div class="row">		
			<div id="action-block" class="col-md-6 col-md-offset-3 jumbotron">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<h3>Welcome to Post On My Fridge</h3>
						<p class="text-muted" >
							Share things in real-time.
						</p>
					</div>
				</div>
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 text-center">
						<p>
							Already <b>{{view.content.nbFridges}}</b> fridges and <b>{{view.content.nbPosts}}</b> posts.
						</p>
						<form class="form-inline">
							{{#link-to 'fridge' "demo"}}
								<button class="btn btn-primary" type="button">
									<i class="fa fa-sign-in"></i> Try the demo
								</button>
							{{/link-to}}
							<i class="fa fa-exchange"></i> 
							<div class="form-group">
	                			{{view Ember.TextField valueBinding="App.IndexView.newFridgeName" placeholder="Create your fridge"}}
	            				<button class="btn" {{action "toNewFridge" App.IndexView.newFridgeName}}>
									<i class="fa fa-check-circle-o"></i> 
									{{App.IndexView.newFrigeName}}
								</button>
			    			</div>
						</form>		  	      
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id = "push"></div>	
</div>
{{partial "footer"}}