<div id = "wrap">
	{{render "mainHeader" null}}
	<div class="container-fluid">
		<div class="row-fluid">		
			<div id="action-block" class="span6 offset3 well">
				<div class="row-fluid">
					<div class="span10 offset1 text-center">
						<h4>Welcome to Post On My Fridge</h4>
						<p class="muted" >
							Share whatever you want with anyone in real-time.
						</p>
					</div>
				</div>
				<div class="row-fluid">	
					<div class="span10 offset1 text-center">
						<p class="muted" >
							Already <b>{{view.content.nbFridges}}</b> fridges and <b>{{view.content.nbPosts}}</b> posts!
						</p>
						</br>
						<form class="form-inline">
							{{#link-to 'fridge' "demo"}}
								<button class="btn btn-primary"  type="button" >
									<i class="fa fa-sign-in"></i> Try the demo
								</button>
							{{/link-to}}
							&nbsp/&nbsp
							<div class="input-append">
	                			{{view Ember.TextField valueBinding="App.IndexView.newFridgeName" placeholder="Create your fridge" class="input-medium"}}
	            				<button class="btn" {{action "toNewFridge" App.IndexView.newFridgeName}}>
									<i class="fa fa-check-circle-o"></i> 
									{{App.IndexView.newFrigeName}}
								</button>
			    			</div>
						</form>		  	      
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id = "push"></div>	
</div>
{{partial "footer"}}