<div id = "wrap">
	{{render "mainHeader"}}
	<div id="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h4>Timers</h4>
				</div>
			</div>
			<div class="row">		
				<div class="col-md-10 col-md-offset-1 well">
					<table class="table table-hover table-striped table-condensed">
					<thead>
					    <tr>
					    	<th>name</th>
					        <th>count</th>
					        <th>max</th>
					        <th>min</th>
					        <th>mean</th>
					        <th>stdDev</th>
					        <th>50p</th>
					        <th>75p</th>
					        <th>95p</th>
					        <th>98p</th>
					        <th>99p</th>
					        <th>99.9p</th>
					        <th>15m</th>
					        <th>5m</th>
					        <th>1m</th>
					        <th>mean</th>
					    </tr>
					</thead>
					<tbody>
						{{#each view.content.timers}}
							<tr>
								<td class="left">{{name}}</td>
								<td>{{count}}</td>
								<td>{{duration max 2}}</td>
								<td>{{duration min 2}}</td>
								<td>{{duration mean 2}}</td>
								<td>{{duration stdDev 2}}</td>
								<td>{{duration 50p 2}}</td>
								<td>{{duration 75p 2}}</td>
								<td>{{duration 95p 2}}</td>
								<td>{{duration 98p 2}}</td>
								<td>{{duration 99p 2}}</td>
								<td>{{duration 999p 2}}</td>
								<td>{{toFixed fifteenMinuteRate 2}} / sec</td>
								<td>{{toFixed fiveMinuteRate 2}} / sec</td>
							    <td>{{toFixed oneMinuteRate 2}} / sec</td>
								<td>{{toFixed meanRate 2}} / sec</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>	
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h4>Meters</h4>
			</div>
		</div>		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 well">
				<table class="table table-hover table-striped table-condensed">
				<thead>
				    <tr>
				    	<th>name</th>
				        <th>count</th>
				        <th>15m</th>
				        <th>5m</th>
				        <th>mean</th>
				        <th>1m</th>
				    </tr>
				</thead>
				<tbody>
					{{#each view.content.meters}}
						<tr>
							<td class="left">{{name}}</td>
							<td>{{count}}</td>
							<td>{{toFixed fifteenMinuteRate 2}} / sec</td>
							<td>{{toFixed fiveMinuteRate 2}} / sec</td>
							<td>{{toFixed meanRate 2}} / sec</td>
							<td>{{toFixed oneMinuteRate 2}} / sec</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="row">	
			<div class="col-md-10 col-md-offset-1 text-center">
				<h4>Counters</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 well">
				<table class="table table-hover table-striped table-condensed">
				<thead>
				    <tr>
				    	<th>name</th>
				        <th>count</th>
				    </tr>
				</thead>
				<tbody>
					{{#each view.content.counters}}
						<tr>
							<td class="left">{{name}}</td>
							<td>{{count}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div id ="push"></div>
		</div>
	</div>
</div>
{{partial "footer"}}	